*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: black;
}

.container  header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 50px;
    z-index: 1000000;
}

.container  header a {
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 8px 16px;
    border-radius: 6px;
}

.clip {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clip .fit {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0.7;
}

.clip .box{
    position: absolute;
    top: 40%;
    transform: translate(-50% -50%);
    z-index: 1000;
}

.clip .box .heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.clip .box .heading h2 {
    font-size: 3rem;
    color: white;
    letter-spacing: 2px;
    width: 60%;
}
.clip .box .heading h5 {
    font-size: 1.6rem;
    color: white;
    font-weight: 400;
    padding: 1rem 0;
}

.clip .box .heading p {
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
    padding: 15px;
    padding-bottom: 20px;
}

.clip .box .search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.clip .box .search input{
    font-size: 10px;
    font-style: italic;
    font-weight: 200;
    border: 1px solid saddlebrown;
    outline: none;
    color: grey;
    padding: 10px 10px 0 0;
    min-width: 400px;
    height: 50px;
    align-items: center;
}

.clip .box .search a{
    text-decoration: none;
    color: white;
    font-weight: 300;
    background-color: red;
    font-size: 1.5rem;
    min-width: 200px;
    height: 50px;
    padding: 10px 30px;
}

.part1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 70px;
    border-top: 3px solid grey;
}

.part1 .explain {
    width: 40%;
}

.part1 .explain h1{
    font-size: 3rem;
    letter-spacing: 2px;
    color: white;
    padding-bottom: 10px;
}

.part1 .explain p{
    font-size: 1.5rem;
    color: white;
}

.part1 .img {
    width: 40%;
}

.part1 .img img {
    width: 100%;
}

.part2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 70px;
    border-top: 3px solid grey;
}

.part2 .explain {
    width: 40%;
}

.part2 .explain h1{
    font-size: 3rem;
    letter-spacing: 2px;
    color: white;
    padding-bottom: 10px;
}

.part2 .explain p{
    font-size: 1.5rem;
    color: white;
}

.part2 .img {
    width: 40%;
}

.part2 .img img {
    width: 100%;
}

.part3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 70px;
    border-top: 3px solid grey;
}

.part3 .explain {
    width: 40%;
}

.part3 .explain h1{
    font-size: 3rem;
    letter-spacing: 2px;
    color: white;
    padding-bottom: 10px;
}

.part3 .explain p{
    font-size: 1.5rem;
    color: white;
}

.part3 .img {
    width: 40%;
}

.part3 .img img {
    width: 100%;
}

.part4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 70px;
    border-top: 3px solid grey;
    border-bottom: 3px solid grey;
}

.part4 .explain {
    width: 40%;
}

.part4 .explain h1{
    font-size: 3rem;
    letter-spacing: 2px;
    color: white;
    padding-bottom: 10px;
}

.part4 .explain p{
    font-size: 1.5rem;
    color: white;
}

.part4 .img {
    width: 40%;
}

.part4 .img img {
    width: 100%;
}

.list{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.list h1 {
    color: white;
    font-size: 3rem;
    padding: 3rem 0 4rem 0;
}

.tittle {
    background-color: #303030 ;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 400;
    text-decoration: none;
}

.icon{
    width: 20px;
    position: relative;
}

.icon::before, .icon::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    background: #fff;
    top: -1.5px;
}

.icon::after{
    transform: rotate(90deg);
    transition: 0.5s linear;
}

.text {
    background-color: #303030 ;
    line-height: 30px;
    margin: 3px 0;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    height: 0;
    opacity: 0;
}

.item:target .text{
    opacity: 1;
    height: auto;
    padding: 20px 30px;
    margin: 0;
    border-top: 2px solid #000;
    margin-bottom: 6px;
}

.item:target .icon::after{
    transform: rotateY(90deg)
}

.box p {
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
    padding: 15px;
    padding-bottom: 20px;
    margin-top: 40px;
}




.box .search input{
    font-size: 10px;
    font-style: italic;
    font-weight: 200;
    border: 1px solid saddlebrown;
    outline: none;
    color: grey;
    padding: 10px 10px 0 0;
    min-width: 400px;
    height: 50px;
    align-items: center;
}

.box .search a{
    text-decoration: none;
    color: white;
    font-weight: 300;
    background-color: red;
    font-size: 1.5rem;
    min-width: 200px;
    height: 50px;
    padding: 10px 30px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    padding: 4rem 0;
    border-top: 3px solid grey;
}

footer .one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 50%;
}
footer .one li{
    padding: 7px 5px;
}
footer .one li a{
    text-decoration: none;
    color: grey;
    font-size: 0.8rem;
}
footer .one li a:hover{
    border-bottom: 1px solid grey;
}

@media screen and (max-width: 787px ){
    .clip .box{
        top: 20%;
    }

    .clip .box .heading h2 {
        font-size: 2.8rem;
        color: white;
        letter-spacing: 1.5px;
        width: 80%;
    }
    .clip .box .heading h5 {
        font-size: 1.4rem;
        padding: 1rem 0 0.2rem 0;
    }
    
    .clip .box .heading p {
        font-size: 1rem;
        padding: 12px;
        padding-bottom: 15px;
    }
    
    .clip .box .search{
        flex-direction: row;
        margin-bottom: 10px;
    }
    
    .clip .box .search input{
        min-width: 300px;
    }
    
    .clip .box .search a{
        min-width: 200px; 
    }

    .part1{
        flex-direction: column-reverse;
        justify-content: center;
        padding: 50px;
        text-align: center;
    }
    
    .part1 .explain {
        width: 80%;
        margin: 20px 0 25px 0;
    }
    
    .part1 .explain h1{
        font-size: 2.8rem;
        letter-spacing: 1.5px;
        padding-bottom: 5px;
    }
    
    .part1 .explain p{
        font-size: 1.3rem;
    }
    
    .part1 .img {
        width: 50%;
    }

    .part2{
        flex-direction: column;
        justify-content: center;
        padding: 50px;
        text-align: center;
    }
    
    .part2 .explain {
        width: 80%;
        margin: 20px 0 25px 0;
    }
    
    .part2 .explain h1{
        font-size: 2.8rem;
        letter-spacing: 1.5px;
        padding-bottom: 5px;
    }
    
    .part2 .explain p{
        font-size: 1.3rem;
    }
    
    .part2 .img {
        width: 70%;
    }

    .part3{
        flex-direction: column-reverse;
        justify-content: center;
        padding: 50px;
        text-align: center;
    }
    
    .part3 .explain {
        width: 80%;
        margin: 20px 0 25px 0;
    }
    
    .part3 .explain h1{
        font-size: 2.8rem;
        letter-spacing: 1.5px;
        padding-bottom: 5px;
    }
    
    .part3 .explain p{
        font-size: 1.3rem;
    }
    
    .part3 .img {
        width: 60%;
    }

    .part4{
        flex-direction: column;
        justify-content: center;
        padding: 50px;
        text-align: center;
    }
    
    .part4 .explain {
        width: 80%;
        margin: 20px 0 25px 0;
    }
    
    .part4 .explain h1{
        font-size: 2.8rem;
        letter-spacing: 1.5px;
        padding-bottom: 5px;
    }
    
    .part4 .explain p{
        font-size: 1.3rem;
    }
    
    .part4 .img {
        width: 70%;
    }
    
    .list{
        width: 80%;
        text-align: center;
    }
    
    .list h1 {
        font-size: 2.7rem;
        padding: 3rem 0 4rem 0;
    }
        
    .box p {
        font-size: 1rem;
        padding: 12px;
        padding-bottom: 15px;
    }
    
    .box .search{
        flex-direction: row;
        margin-bottom: 10px;
    }
    
    .box .search input{
        min-width: 300px;
    }
    
    .box .search a{
        min-width: 200px; 
    }

    footer .one{
        justify-content: space-between;
        margin: auto;
        width: 40%;
    }
    
}

@media screen and (max-width: 496px ){
    .clip .box{
        top: 20%;
    }

    .clip .box .heading h2 {
        font-size: 2.5rem;
        letter-spacing: 1.5px;
        width: 100%;
    }
    .clip .box .heading h5 {
        font-size: 1.4rem;
    }
    
    .clip .box .heading p {
        font-size: 1rem;
        padding: 10px;
        padding-bottom: 12px;
    }
    
    .clip .box .search{
        flex-direction: column;
        margin-bottom: 10px;
    }
    
    .clip .box .search input{
        min-width: 300px;
        margin: 10px;
    }
    
    .clip .box .search a{
        min-width: 300px; 
        text-align: center;
    }

    .list{
        width: 90%;
        text-align: center;
    }
    
    .list h1 {
        font-size: 2.5rem;
        padding: 3rem 0 4rem 0;
    }

    .box p {
        font-size: 1rem;
        padding: 10px;
        padding-bottom: 12px;
    }
    
    .box .search{
        flex-direction:column;
        margin-bottom: 20px;
    }
    
    .box .search input{
        min-width: 400px;
        margin: 20px;
    }
    
    .box .search a{
        min-width: 400px; 
        text-align: center;
    }
}